    <!-- Contact Section -->
    <section id="news" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 blogpost">
                <h2>News</h2>

                {% for post in site.posts %}
                  {% if post.url == page.url %}
                    <p>
                      <em>{{ post.title }}</em> written
                      {{ post.date | date_to_string }}
                    </p>
                    {{ post.content }}
                    <p class="text-right"><em>Written by {{ post.by }}</em></p>
                  {% endif %}
                {% endfor %}

                {% if page.url == '/news/' %}
                  {% for post in site.posts %}
                    <a href="{{ post.url }}">
                      <h3>{{ post.title }}</h3>
                      <p>written {{ post.date | date_to_string }}</p>
                    </a>
                  {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>
