    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Konstructs</h2>
                    <p>The game is built for Linux, Windows and OS X,
                    but it should also work on FreeBSD and friends. We release
                    ready to use binaries for Windows and Linux.</p>
                    <p>
                      <a class="btn btn-primary" href="https://bintray.com/artifact/download/konstructs/windows/konstructs-client-4-windows.zip">Windows</a>
                      <a class="btn btn-primary" href="https://bintray.com/artifact/download/konstructs/linux/konstructs-client-4-linux.tar.bz2">Linux (tar)</a>
                      <a class="btn btn-primary" href="https://bintray.com/artifact/download/konstructs/debian/pool/main/k/konstructs-client/konstructs-client_4-1045_amd64.deb">Linux (deb)</a>
                    </p>
                    <p>Like to host your own server? See the <a href="/download/">download page.</a></p>
                </div>
            </div>
        </div>
    </section>
