    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Konstructs</h1>
                        <p class="intro-text">An open source Infiniminer/Minecraft inspired multiplayer game.</p>
                        <p>
                          <iframe width="420" height="237" src="https://www.youtube.com/embed/8HmZ1Rk0Kak" frameborder="0" allowfullscreen></iframe>
                        </p>
                        <a href="https://www.youtube.com/channel/UCW6d0AbRi73ikU2OcdDxvsQ" class="btn btn-primary btn-lg">
                            Watch
                        </a>
                        <a href="/play/" class="btn btn-success btn-lg page-scroll">
                            Play
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
