    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Konstructs</h1>
                        <p class="intro-text">An open source Infiniminer/Minecraft inspired multiplayer game.</p>
                        <a href="#about" class="btn btn-primary btn-lg page-scroll">
                            About
                        </a>
                        <a href="#download" class="btn btn-success btn-lg page-scroll">
                            Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
