body {
  padding-top: 80px;
}

p {
  font-size: 120%;
}

img {
  width: 100%;
  height: auto;
}

blockquote {
  font-size: 97% !important;
}

@media (max-width: 992px) {
  .sidebar {
    padding-top: 2em;
  }
}
